.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
.listContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding-left: 25px;
    height: 100%;

}